body {
  font-family: 'Fira Sans', sans-serif;
  background-color: #ffffff;
  color: #333;
}
h1, h2, h3 {
  color: #38519c;
}
a {
  color: #007acc;
}
.navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #91adff;
}
